# Игнорируем виртуальное окружение
venv311/
venv/
env/

# Игнорируем кэш питона
__pycache__/
*.pyc

# Игнорируем секреты (на GitHub отправляем только .env.example)
.env

# Игнорируем загруженные пользователями файлы
uploads/

# Игнорируем отчеты, которые будет генерировать CI
*.json
*.xml